@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
  margin: 0;
  /* background: linear-gradient(#8a307f, #79a7d3, #6883bc); */
  background-color: #79a7d3;
  color: #fff;
  padding:0 10%;
  font-family: 'Montserrat', sans-serif;
}
.right{
  display: flex;
  justify-content: flex-end;
  max-width: 300px;
  margin-left: auto;
  background-color: #000;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 3px 5px 7px #333;
}
.left{
  background-color: #075E54;
  margin-top: 20px;
  display: inline-block;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 3px 5px 7px #333;
}

form{
  position: fixed;
  bottom: 10%;
  width: 100vw;
  display: flex;
}
form input{
  display: block;
  width: 65%;
  padding: 15px 2.5%;
  background-color: #343541;
  color: #fff;
  outline: none;
  border: none;
  font-size: 1rem;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: 3px 5px 7px #333;


}
form button{
  width: 9%;
  border: none;
  box-shadow: 3px 5px 7px #333;
  background-color: #343541;
  color: #fff;
  text-transform: uppercase;
  font-weight: bolder;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}
.container h1{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #000;
}
.container{
  margin-bottom: 200px;
}
.loader{
  background-color: #075E54;
  margin-top: 20px;
  display: inline-block;
  margin-top: 20px;
  padding:0px 20px;
  border-radius: 10px;
  box-shadow: 3px 5px 7px #333;
}
.loader svg{
  width: 50px;
  height: 50px;
}
